<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.samvankooten.finnstickers">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--This permission is being added to the merged manifest, though never requested in-app.
    It looks like it's coming from lifecycle-process. Since it's never been requested and everything
    has always worked, I'm excluding it here just to not appear like we're permission-hungry -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>

    <application
        android:allowBackup="true"
        android:backupAgent=".misc_classes.FinnBackupAgent"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/MainActivityTheme"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="finnstickers"/>
                <data android:host="sticker"/>
            </intent-filter>
    
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
        
                <category android:name="android.intent.category.OPENABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
    
                <data android:mimeType="image/jpeg"/>
                <data android:mimeType="image/gif"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".StickerProvider"
            android:authorities="net.samvankooten.finnstickers.StickerProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider">
        </provider>

        <receiver
            android:name=".misc_classes.AppIndexingUpdateReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.permission.APPINDEXING">
            <intent-filter>
                <action android:name="com.google.firebase.appindexing.UPDATE_INDEX"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".updating.UpdateBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".updating.UpdateJob"
            android:label="Sticker updater"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".misc_classes.ReindexJob"
            android:label="Sticker indexer"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        
        <service
            android:name=".misc_classes.RestoreJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".sticker_pack_viewer.StickerPackViewerActivity"
            android:label="@string/title_activity_sticker_pack_viewer"
            android:theme="@style/StickerPackViewerTheme"
            android:parentActivityName=".MainActivity">
        </activity>
        
        <activity
            android:name=".editor.EditorActivity"
            android:label="@string/title_activity_editor"
            android:theme="@style/EditorTheme"
            android:parentActivityName=".sticker_pack_viewer.StickerPackViewerActivity">
            
            <intent-filter android:label="@string/editor_share_target">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardActivity"
            android:label="@string/title_activity_onboard"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ar.AROnboardActivity"
            android:label="@string/title_activity_onboard"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional"/>

        <activity
            android:name=".ar.ARActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
        </provider>
    
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/ActionBarTheme" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/ActionBarTheme" />
    
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
    
        <service
            android:name=".updating.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_notif" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notif_channel_misc"/>
    </application>

</manifest>